<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testng">
    <test name="tests">
        <classes>
            <class name="com.testng.extend.demo.TestMethodsDemo">
                <methods>
                    <include name="test1" />
                    <include name="test2" />
                    <include name="test3" />
                    <include name="logDemo" />
                </methods>

            </class>
        </classes>

    </test>

    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="com.testng.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>